.container {
  max-width: 1000px;
  padding: 15px 1rem;
  margin: 0 auto 6rem;
  background-color: grey;
}
.marquee {
  width: 100%;
  background-image: url(../public/images/denver-skyline.webp);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  max-height: 580px;
}
.header {
  display: flex;
  padding: 15%;
  flex-direction: column;
  align-items: center;
}
.headerCard {
  align-items: center;
  position: relative;
  width: 250px;
  margin-top: 100px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
.headerCardInner {
  margin-top: -80px;
  text-align: center;
}
.backToHome {
  margin: 3rem 0 0;
}

@media screen and (max-width: 600px) {
  .marquee {
    background-image: url(../public/images/2006-07-14-Denver_Skyline_Midnight_B&W_Small.jpg);
  }
}
