.container{
  width: 85%;
  max-width: 1000px;
  padding: 5% 1rem;
  margin: 0 auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}