.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 0;
  position: relative;
}

.headingMd {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: capitalize;
}

.borderCircle {
  margin: auto;
  border-radius: 9999px;
  position: relative;
  top: -100px;
  height: 200px;
  width: 200px;
}

.blogBody {
  padding: 10px 3%;
}

.blogBody > h1 {
  color: black;
  font-size: 46px;
  font-weight: 1200;
  line-height: 130%;
  margin: 20px auto 10px auto;
  text-align: center;
  width: 95%;
}

.blogDate {
  color: #666;
  font-size: 18px;
  text-align: center;
  width: 100%;
}

.blogLink {
  cursor: pointer;
  text-decoration: none !important;
  color: #0070f3;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 0 1.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.listItem h2 {
  margin: 10px 10px 5px 0px;
  font-size: 26px;
  cursor: pointer;
  text-decoration: none !important;
  color: #0070f3;
}
.listItem:hover {
  text-decoration: none !important;
  box-shadow: 0 4px 8px 0 rgba(0, 12, 185, 0.2),
    0 6px 20px 0 rgba(0, 17, 248, 0.19);
}
.listItem:hover h2 {
  color: #5500f3;
}

.listItem:active {
  box-shadow: none;
}

.lightText {
  color: #666;
}
.main {
  height: 1200px;
  max-width: 900px;
  margin: auto;
  background-image: url(../public/images/black-brick-wall-texture.jpg);
  background-size: contain;
  background-position: center;
}
.mainName {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 0%;
}
.navBarActive {
  color: yellow !important;
  background-color: green;
}
.navBar {
  width: 100%;
}
.navBar > ul {
  font-size: 12px;
  width: 75%;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

ul.linkNavUl {
  color: blue;
  width: 85%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

@font-face {
  font-family: neon;
  src: url(hello-denver-display/hellodenverdisplayregular_v1.6.ttf);
}
.neonDiv {
  margin: 0 0 0 0 ;
  padding: 0;
  display: inline;
}.neonDiv2 {
  margin: 0 0 0 0;
  display: inline;
}
.neonWrapper {
  width: 100%;
  text-align: center;
}

.neonText2 h1 {
  line-height: 1em;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-family: neon;
  font-size: 8rem;
  width: 100%;
  font-weight: 100;
  text-align: center;
  padding: 0 3.5rem 0 3.5rem;
}
.neonText2 {
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  color: #57a7f2;
  text-shadow: 0.1em 0em 0.25em #579ff2, 0.01em 0em 0.1em #0071f3,
    0.01em 0em 2em #0071f3, 0.1em 0em 1em #0b1ae5, 0.1em 0em 1em #0b1ae5,
    0.1em 0em 5em #0b1ae5, 0.1em 0em 5em #0b1ae5, 0.1em 0em 10em #0b1ae5;
}

.neonText3 {
  font-size: 24px;
  font-weight: 100;
  color: #57a7f2;
  text-shadow: 0.1em 0em 0.25em #579ff2, 0.01em 0em 0.1em #0071f3,
    0.01em 0em 2em #0071f3, 0.1em 0em 1em #0b1ae5, 0.1em 0em 1em #0b1ae5,
    0.1em 0em 5em #0b1ae5, 0.1em 0em 5em #0b1ae5, 0.1em 0em 10em #0b1ae5;
}

.neonText3:hover {
  font-size: 24px;
  font-weight: 100;
  color: #ffd8d8;
  text-shadow: 0.1em 0em 0.25em #ffd8d8, 0.01em 0em 0.1em #f25757,
    0.01em 0em 2em #f25757, 0.1em 0em 1em #e50b0b, 0.1em 0em 1em #e50b0b,
    0.1em 0em 5em #e50b0b, 0.1em 0em 5em #e50b0b, 0.1em 0em 10em #e50b0b;
}
